<%= form_with model: article, class: "article-form" do |form| %>
  <div class="form-group">
    <%= form.label :title, "タイトル" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :body, "本文" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="error-message"><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :status, "ステータス" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, { selected: article.status || 'public' }, class: "form-select" %>
  </div>

  <div class="form-actions">
    <% if article.persisted? %>
      <%= form.submit "編集", class: "submit-button edit-button" %>
    <% else %>
      <%= form.submit "投稿", class: "submit-button post-button" %>
    <% end %>
  </div>
<% end %>
