<h1 class="article-title">Title: <%= @article.title %></h1>

<p class="article-body"><%= @article.body %></p>

<ul class="article-actions">
  <li><%= link_to "編集", edit_article_path(@article), class: 'edit-link' %></li>
  <li><%= link_to "削除", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'destroy-link' %></li>
</ul>

<h2 class="comments-title">Comments</h2>
<div class="comments-list">
  <%= render @article.comments %>
</div>

<h2 class="add-comment-title">Add a comment:</h2>
<%= render 'comments/form' %>
